---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a proactive, investigative, disciplined, optimistic, creative, and solution-oriented leader who enjoys working in teams 
    and values the contributions of all individuals. I am passionate about teaching people who don't know, and at the same time, I
    understand that I can learn new and applicable things every day for the future.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Devops Enginer"
      subtitle="2023 at 'Microsoft'"
    />
    <TimeLineElement
      title="Tecnology of Analist and Develoment of Software"
      subtitle="2022 to 2024 at 'SENA'"
    />
    <TimeLineElement
          title="Tecnology of Electronic"
          subtitle="2018 to 2022 at 'Universidad del Valle'"
    />
    <TimeLineElement
          title="7mo Semester of Public Contability"
          subtitle="2017 to 2022 at 'Universidad Andina'"
    />
    <TimeLineElement
          title="Tecnology of Contability and Finances"
          subtitle="2013 to 2016 at 'SENA'"
    />
    <TimeLineElement
          title="Diplomado Software"
          subtitle="2013 to 2016 at 'Universidad de Manizales - Mintic'"
    />
    <TimeLineElement
          title="Diplomado Software"
          subtitle="2013 to 2016 at 'Universidad de Manizales - Mintic'"
    />
    <TimeLineElement
          title="Diplomado Software"
          subtitle="2013 to 2016 at 'Universidad de Manizales - Mintic'"
    />
    <TimeLineElement
          title="Tecnico en Contabilidad"
          subtitle="2013 to 2016 at 'SENA'"
    />
    <TimeLineElement
          title="Diplomado Tecnico"
          subtitle="2013 to 2016 at 'Fundación Carlos Slim'"
    />
    <TimeLineElement
          title="Diplomado Tecnico"
          subtitle="2013 to 2016 at 'Fundación Carlos Slim'"
    />
    <TimeLineElement
          title="Diplomado Tecnico"
          subtitle="2013 to 2016 at 'Fundación Carlos Slim'"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-semibold">Domain in this tecnologies:</div>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full">Structural Design Pattern, MVC (Model-View-Controller)</div>
  </div>
  
  <ul class="list-disc md:columns-2 columns-1 mx-6">
    <li>Django backend, ORM, API REST, autentication JWT, Cors (Python)</li>
    <li>Laravel backend, ORM, API REST, autentication JWT, Cors (Php)</li>
    <li>Express.js backend, ORM, API REST, autentication JWT, Cors (JavaScript)</li>
    <li>Ruby on Rails backend, ORM, API REST, autentication JWT, Cors (Ruby)</li>
    <li>ASP.NET Core (C#) backend, ORM, API REST, autentication JWT, Cors (C#)</li>
  </ul>
</BaseLayout>
